@page
@model PainelDTI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layoutlogin";
}

<div class="login-container ">
    <div class="login-card">
        <div>
            <img alt="" src="" />
            <img alt="" src="" />
        </div>
        <div class="login-header">
            <h1>Faça o login</h1>
        </div>

        <div>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email">Usuário</label>
                    <div class="input-wrapper">
                        <input asp-for="Input.Email" placeholder="Usuário" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Senha">Senha</label>
                    <div class="input-wrapper">
                        <input asp-for="Input.Senha" type="password" placeholder="Senha" />
                    </div>
                </div>

                <button type="submit" class="btn-login">LOGIN</button>
            </form>

            @if (!string.IsNullOrWhiteSpace(Model.Erro))
            {
                <div class="error-message">
                    @Model.Erro
                </div>
            }
        </div>
    </div>
    <h3 style="color:#6c757d;margin-top: 7vh;justify-self: center;">Power by OmniSaaS</h3>
</div>